.avatar-box:hover .icon-box {
   opacity: 1;
}
.avatar-box:hover .avatar-large {
   filter: blur(0.5rem);
}

.avatar-medium {
   width: 10rem;
   height: 10rem;
   font-size: 7rem;
   color: white;
}
.avatar-large {
   width: 15rem;
   height: 15rem;
   font-size: 12rem;
   color: var(--color-light-grey);
}
.avatar-extra-large {
   width: 40rem;
   height: 40rem;
}
