.alert {
  z-index: 10001;
  position: fixed;
  left: 50%;
  padding: 0.7rem 1.4rem;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  display: none;
  top: 92%;
  width: max-content;
}
.show-alert {
  display: flex;
  align-items: center;
}
.alert-message {
  font-size: 1.8rem;
  letter-spacing: 0.02rem;
  color: white;
  text-align: center;
  text-transform: capitalize;
}
.success {
  background-color: var(--color-profile-2);
}
.danger {
  background-color: var(--color-cancel);
}
