.alert {
   z-index: 10001;
   position: fixed;
   left: 50%;
   padding: 0.7rem 1.4rem;
   transform: translate(-50%, -50%);
   border-radius: 0.5rem;
   display: none;
   top: 92%;
}
.show-alert {
   display: flex;
   align-items: center;
}
.alert-message {
   font-size: 2rem;
   letter-spacing: 0.05rem;
   font-weight: 350;
   color: white;
   text-align: center;
   text-transform: capitalize;
}
.success {
   background-color: var(--color-profile-2);
}
.danger {
   background-color: var(--color-cancel);
}
