.form-control {
  box-sizing: border-box;
  margin-right: 1.5rem;
  width: 100%;
}
.form-action {
  width: 100%;
}
.form-input {
  width: 100%;
}
.form-input .label {
  font-weight: 500;
  display: block;
  text-transform: capitalize;
  font-size: 1.6rem;
  color: var(--color-dark-grey);
  align-self: center;
}

.form-input input,
.textarea {
  outline: none;
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: 1.6rem;
  color: var(--color-dark-grey);
  border-radius: 0.5rem;
  border: 0.1rem solid var(--color-light-grey);
  resize: none;
  font-weight: 350;
  overflow: auto;
  letter-spacing: 0.07rem;
}

.form-input input[type='file'] {
  display: none;
}

.form-input input:focus,
.form-input textarea:focus {
  box-shadow: 0 0 0.2rem 0.1rem var(--color-profile-2);
}
.formError {
  color: var(--color-cancel);
  margin-top: 0.5rem;
  font-size: 1.4rem;
}
.inputError {
  border: 0.1rem solid var(--color-cancel);
}
.previewImage {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}
@media screen and (max-width: 650px) {
  .form-input input,
  .textarea {
    border: 0.1rem solid var(--color-light-grey);
  }
  .formError {
    font-size: 1.4rem;
  }
  .font-medium {
    font-size: 2rem;
  }
}
