.main-profile {
  width: 100vw;
}

.profile-description {
  z-index: 10;
  position: absolute;
  width: 25rem;
  top: 4rem;
  right: 25rem;
  transform: scale(0);
  background-color: white;
  color: var(--color-profile-1);
  padding: 1.5rem;
  border-radius: 1rem;
  border: 0.5rem solid var(--color-profile-2);
  font-size: 1.8rem;
}
.show-description {
  transform: scale(1);
}

.profile-section {
  margin-top: 2rem;
  width: var(--profile-page-width);
}
.profile-details {
  cursor: pointer;
  padding: 2rem;
  border-radius: 10%;
}
.user-details {
  width: 40rem;
  margin-top: -2rem;
}
.user-details-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 2rem;
}
.user-details-list .content {
  font-size: 1.6rem;
  margin-left: 2rem;
  letter-spacing: 0.02rem;
  text-transform: capitalize;
}
.profile-details:hover {
  background-color: rgb(233, 233, 233, 0.6);
}
.profile-section .username {
  font-size: 2rem;
  font-weight: 400;
}
.profile-section .status {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin: 2rem;
  width: 35rem;
  text-align: center;
}
.edit-profile a {
  cursor: pointer;
  color: white;
  padding: 0.8rem 1.4rem;
  border-radius: 0.5rem;
  background-color: var(--color-profile-1);
  font-size: 2rem;
  transition: all 0.4s ease;
}
.edit-profile a:hover {
  background-color: var(--color-profile-1-light);
}
.count {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
  color: black;
  text-decoration: none;
}
.tag {
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  .main-profile {
    width: auto;
  }
  .profile-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
  }
  .profile-description {
    top: 25rem;
    left: 0;
  }
}
