.post-heading {
   text-align: center;
   font-size: 2.5rem;
   color: var(--color-dark-grey);
   /* width: var(--profile-page-width); */
   border-bottom: 0.2rem solid var(--color-profile-1-light);
}
.post-section {
   width: var(--profile-page-width);
   background-color: white;
   padding: 2.5rem;
}
.single-post {
   padding: 2rem 2.5rem;
   background-color: var(--color-grey-background);
   box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
   border-radius: 0.7rem;
}
.post-owner {
   margin-left: 1.5rem;
}
.post-owner h3 a {
   text-decoration: none;
   font-size: 2rem;
   font-weight: 300;
   color: var(--color-profile-1);
   text-transform: capitalize;
   letter-spacing: 0.02rem;
}
.post-owner p {
   font-size: 1.6rem;
   color: var(--color-profile-1-light);
}
.post-title p {
   font-size: 2.2rem;
   margin: 1.5rem 3.5rem;
   text-transform: capitalize;
   font-weight: 400;
}

.created-at {
   font-size: 1.4rem;
}
.created-at i {
   color: var(--color-profile-1-light);
}
.post-body {
   font-size: 1.7rem;
   letter-spacing: 0.02rem;
}
.read-more {
   color: black;
   margin-left: 0.5rem;
}
.read-more:hover {
   background-color: var(--color-profile-1-light);
   color: white;
}
.post-images img {
   width: 50rem;
   height: 30rem;
   object-fit: contain;
}
.reviews p {
   font-size: 1.4rem;
}
@media screen and (max-width: 650px) {
   .post-section {
      width: 100%;
   }
}
