.main {
  width: 100%;
}
.search-head {
  width: 100%;
  padding: 3.5rem;
}
.tooltip {
  position: relative;
  align-self: flex-end;
}
.tooltip-content {
  position: absolute;
  top: 3.5rem;
  right: -2rem;
  width: 20rem;
  z-index: 1;
  background-color: var(--color-profile-1);
  display: none;
}
.tooltip-content button {
  width: 100%;
  border-radius: 0;
  background-color: inherit;
}
.tooltip-content button:hover {
  background-color: var(--color-profile-1-light);
}

.menu-btn {
  display: none;
}

.input-as-avatar {
  margin: 0;
}
.username {
  font-size: 1.8rem;
  margin-top: 1.5rem;
}
.edit-section {
  background-color: ghostwhite;
  padding: 4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--color-transparent-1);
}

.adv-settings {
  background-color: ghostwhite;
  height: 100%;
}

@media screen and (max-width: 650px) {
  .avatar-large {
    width: 18rem;
    height: 18rem;
  }
  .menu-btn {
    display: block;
  }
  .hide-left {
    transform: translate(-130rem);
  }
  .search-head {
    padding: 0;
  }
  .edit-section {
    width: 100%;
    padding: 2rem;
  }
}
