.page {
   width: 100%;
   display: flex;
}
.main {
   margin-left: 28rem;
   width: 100%;
}
.search-head {
   width: 100%;
   padding: 3.5rem;
}
.tooltip {
   position: relative;
}

.tooltip-content {
   position: absolute;
   top: 4rem;
   right: -2rem;
   width: 20rem;
   z-index: 1;
   border-radius: 1rem;
   display: none;
}
.tooltip-content button {
   width: 100%;
   border-radius: 0;
   background-color: var(--color-profile-1-light);
   /* margin-bottom: 1rem; */
}
.show-tooltip {
   display: block;
}
.menu-btn {
   display: none;
}

.input-as-avatar {
   margin: 0;
}
.username {
   font-size: 1.8rem;
   margin-top: 1.5rem;
}
.edit-section {
   width: 50rem;
   padding-bottom: 5rem;
}
.form-action {
   width: 100%;
}
.btn-container {
   margin-top: 2rem;
   height: 10rem;
}

.nav-height {
   height: 100%;
}

@media screen and (max-width: 650px) {
   .main {
      padding: 5rem;
      width: auto;
      margin-left: 0;
   }
   .avatar-large {
      width: 18rem;
      height: 18rem;
   }
   .menu-btn {
      display: block;
   }
   .hide-left {
      transform: translate(-130rem);
   }
   .search-head {
      padding: 0;
   }
   .alert {
      bottom: -50vh;
      left: 30%;
   }
}
