:root {
   --color-profile-1: #6146d8;
   --color-profile-1-light: #7677d4;
   --color-profile-2: #7e69e6;
    --color-profile-2-light: #8c8dd1;
   --color-profile-3: #75e9e9;
   --color-cancel: #f82121;
   --color-cancel-light: #f75b5b;
   --color-dark-grey: #4d4d4d;
   --color-light-grey: #d3d4d3;
   --color-transparent-1: #dfe2e2;
   --color-transparent-2: #bcceceb0;
   --color-grey-background: #ebe9e9b9;
   --profile-page-width: 75%;
}
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}
body {
   font-family: "Poppins";
   font-weight: 300;
   letter-spacing: 0.05rem;
   background-color: #f4f4f4;
}
.page {
  width: 100%;
  display: flex;
}
a {
   text-decoration: none;
   color: white;
}
h1 {
   font-size: 2.4rem;
   font-weight: 350;
}
::-webkit-scrollbar {
   width: 1rem;
   background-color: var(--color-profile-2);
}

/* Track */

::-webkit-scrollbar-track {
   border-radius: 5rem;
}

/* Handle */

::-webkit-scrollbar-thumb {
   background-color: white;
   border-radius: 10rem;
}

.create-post {
   background: transparent;
   outline: none;
   border: none;
   cursor: pointer;
}
.create-post-logo-large {
   width: 6.5rem;
   height: 6.5rem;
}
.create-post-logo-small {
   width: 4.5rem;
   height: 4.5rem;
}
.create-post-logo-small:hover,.create-post-logo-large:hover{
   transform: scale(1.1);
}
.logo a {
   display: block;
   font-family: "Redressed", "Cursive";
   font-size: 4rem;
   font-weight: normal;
   color: white;
   text-decoration: none;
}

@media screen and (max-width: 900px) {
   html {
      font-size: 58.25%;
   }
}
@media screen and (max-width: 650px) {
   .main {
      padding: 2rem;
   }
    .page {
    width: auto;
    display: block;
  }
  .logo a{
     font-size: 3.5rem;
  }
  .create-post-logo-small {
   width: 3.5rem;
   height: 3.5rem;
}
}
